{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/estilos.css' %}">
</head>
<body>
  <header>
    <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/portada/">
      <img src="{% static 'imagenes\casas_prefabricadas.jpg ' %}"  alt="">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/quienes_somos/">Quienes somos</a>
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacto/">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/galeria/">Galeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="http://127.0.0.1:8000/medida/2/4">Modelo a medida</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="http://127.0.0.1:8000/metraje/20">Modelo por metraje</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/buscar_sol_contacto/">Buscar Solicitudes de contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/formulario_eliminar/">Eliminar Solicitud de contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    </header>
      <br>
        <div id="centrar">
          <div align="center">
          <h2> Nuestra localizacion</h2>
          </div>
           <br>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7915.878710367432!2d-70.66434181677707!3d-33.46970028909003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c521e826b895%3A0x53ce73d5a1467c73!2sSalfa!5e0!3m2!1ses!2scl!4v1605147971959!5m2!1ses!2scl"  width="700" height="280" frameborder="0"  style="border:0;" allowfullscreen="" aria-hidden="true" tabindex="0"></iframe>  
         <br>
         <br>
         <div align="center">
        <h2>Formulario De Contacto</h2>
        </div>
        <br>
    <form action="/ingresar_solicitud/" method="GET">
            <div class="form-group">
              <label for="exampleFormControlInput1">Ingrese su nombre</label>
              <input type="text" class="form-control" name="txt_nombre">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Ingrese su correo</label>
                <input type="email" class="form-control"  placeholder="nombre@ejemplo.com" name="txt_correo"> 
              </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Seleccione su comuna</label>
              <select class="form-control"  name="opt_comuna">
                <option></option>
                <option>Santiago</option>
                <option>Las Condes</option>
                <option>Peñalolen</option>
                <option>San Joaquin</option>
                <option>Maipu</option>
              </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Ingrese su telefono</label>
                <input name="txt_telefono" type="text" class="form-control" placeholder="+569">
              </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Ingrese su mensaje</label>
              <textarea name = txta_mensaje class="form-control" id="txta_comentarios" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>
          <br>

<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CONTACTANOS</h5>

        <ul class="list-unstyled">
          <li>
            <p>Las Condes</p>
          </li>
          <li>
            <p>Telefono: +56985947543</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">UNETE A NUESTRA COMUNIDAD</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#">
              <img src= "{% static 'imagenes/icono_facebook.png' %}" width="50" height="50" alt="">
              </a>
              <a href="#">
              <img src= "{% static 'imagenes/icono_twitter.png' %}" width="50" height="50" alt="">
              </a>
              <a href="#">
              <img src= "{% static 'imagenes/icono_Instagram.png' %}" width="60" height="50" alt="">
              </a>
              <a href="#">
              <img src= "{% static 'imagenes/icono_whatsapp.png' %}" width="50" height="40" alt="">
              </a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ESCRIBENOS UN MENSAJE</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/contacto/">Formulario de Contacto</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    <script src= "{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src= "{% static 'js/popper.min.js' %}"></script>
    <script src= "{% static 'js/bootstrap.min.js' %}"></script> 
</body>
</html>