{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda cantidad de habitaciones</title>
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/estilos.css' %}">
</head>
<body>
  <header>
    <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/portada/">
      <img src="{% static 'imagenes\casas_prefabricadas.jpg ' %}"  alt="">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/quienes_somos/">Quienes somos</a>
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacto/">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/galeria/">Galeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="http://127.0.0.1:8000/medida/2/4">Modelo a medida</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="http://127.0.0.1:8000/metraje/20">Modelo por metraje</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/buscar_sol_contacto/">Buscar Solicitudes de contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/formulario_eliminar/">Eliminar Solicitud de contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    </header>
        <!--Fin del header-->
    <br>
    <div align="center">
    <p>Estás buscando casas con una cantidad de habitaciones igual a: {{cantidad_consultada}}</p>
    {% if casas %} <!-- if pregunta si trae casas o registros. true es si -->
        <p>Casas encontradas:{{casas|length}}</p> <br>
        <table border="1">
            <tr>
                <td>Nombre</td>
                <td>Cantidad de habitaciones</td>
                <td>Cantidad de m2</td>
                <td>cantidad de baños</td>
                <td>Living Comedor</td>
                <td>Cocina</td>
            </tr>
        {% for c in casas %}
        <tr>
            <td>{{c.nombre}}</td>
            <td>{{c.cantidad_habitaciones}}</td>
            <td>{{c.cantidad_m2}}</td>
            <td>{{c.cantidad_baños}}</td>
            <td>{{c.living_comedor}}</td>
            <td>{{c.cocina}}</td>
        </tr>
        {% endfor %}
        </table>   
        {% else %}
                <p>No existen casas con esa cantidad de habitaciones</p>
        {% endif %}
        </div>
        <br><br><br><br><br><br>

        <!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CONTACTANOS</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>Las Condes</p>
            </li>
            <li>
              <p>Telefono: +56985947543</p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">UNETE A NUESTRA COMUNIDAD</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#">
                <img src= "{% static 'imagenes/icono_facebook.png' %}" width="50" height="50" alt="">
                </a>
                <a href="#">
                <img src= "{% static 'imagenes/icono_twitter.png' %}" width="50" height="50" alt="">
                </a>
                <a href="#">
                <img src= "{% static 'imagenes/icono_Instagram.png' %}" width="60" height="50" alt="">
                </a>
                <a href="#">
                <img src= "{% static 'imagenes/icono_whatsapp.png' %}" width="50" height="40" alt="">
                </a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ESCRIBENOS UN MENSAJE</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="/contacto/">Formulario de Contacto</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  
      <script src=" {% static 'js/jquery-3.5.1.slim.min.js' %} "></script>
      <script src=" {% static 'js/popper.min.js' %} "></script>
      <script src=" {% static 'js/bootstrap.min.js' %} "></script> 
    
</body>
</html>